<% layout("/layouts/boilerplate")%>
<body>
    <h1><%=listing.title%></h1>
    <p><%=listing.description%></p>
    <% if (listing.image) { %>
        <img src="<%= listing.image %>" alt="<%= listing.title %>" style="width: 400px; height: 400px;">
    <% } %>
    <p>Price: <%= listing.price %></p>
    <p>Location: <%= listing.location %></p>
    <p>Country: <%= listing.country %></p>
    <form method="get" action="/listings/<%= listing._id %>/edit" style="display:inline;">
        <button>Edit</button>
    </form>
    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" style="display:inline;">
        <button>Delete</button>
    </form>
    <a href="/listings">Back to Listings</a>
</body>
